<div class="selection-container">
  <div class="dropdown-row">
  <!-- Make Dropdown -->
  <div>
    <label for="make">Make</label>
    <ng-select 
      [items]="makes" 
      id="make"
      bindLabel="make" 
      placeholder="Select Make"
      [(ngModel)]="selectedMake" 
      (change)="onMakeChange()">
    </ng-select>
  </div>

  <!-- Model Dropdown -->
  <div>
    <label for="model">Model</label>
    <ng-select 
      [items]="models" 
      id="model"
      bindLabel="model" 
      placeholder="Select Model"
      [(ngModel)]="selectedModel" 
      (change)="onModelChange()">
    </ng-select>
  </div>

  <!-- Year Dropdown -->
  <div>
    <label for="year">Year</label>
    <ng-select 
      [items]="years" 
      id="year"
      bindLabel="year" 
      placeholder="Select Year"
      [(ngModel)]="selectedYear" 
      (change)="onYearChange()">
    </ng-select>
  </div>
</div>


<div *ngIf="combinedTrimEngineList.length" class="table-container">
  <!-- Select All Checkbox -->
  <div class="select-all">
    <label>
      <input 
        type="checkbox" 
        [checked]="isAllSelected()" 
        (change)="toggleSelectAll()"> 
      Select All From {{ selectedMake.make }} {{ selectedModel.model }} {{selectedYear.year}}
    </label>
  </div>

  <input 
        type="text" 
        placeholder="Search Engine" 
        [(ngModel)]="engineSearch" 
        class="engine-search" />

  <!-- Table to display Trim and Engine -->
  <table  class="trim-engine-table">
    <thead>
      <tr>
        <th>Select</th>
        <th>Trim</th>
        <th>Engine</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of engineSearch.length ? filteredEngines : combinedTrimEngineList">
        <td>
          <input 
            type="checkbox" 
            [checked]="selectedItems.includes(item)" 
            (change)="toggleItemSelection(item)">
        </td>
        <td>{{ item.trim }}</td>
        <td>{{ item.engine }}</td>
      </tr>
    </tbody>
  </table>
</div>



<div *ngIf="combinedTrimEngineList.length">
  <button (click)="preview()">Preview</button>
  <button (click)="clearMenu()">Clear All</button>
  </div>

  <form *ngIf="showReport">
  <table class="trim-engine-table">
    <thead>
      <tr>
        <th>Trim</th>
        <th>Engine</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of selectedItems">
        <td>{{ item.trim }}</td>
        <td>{{ item.engine }}</td>
      </tr>
    </tbody>
  </table>
  </form>
</div>
