.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.dropdown-row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.search-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

ng-select {
  flex: 1;
}
